/* =====================================
            Media Queries
========================================*/

/* Large Devices - Desktops and Laptops*/
/*
@media (min-width: 1200px) {

    .content-box {
        padding: 5px 40px;
        margin: 0;
    }

      Navigation Bar 
    .site-nav-wrapper {
        padding: 0 20px;
    }

    .navbar-brand img {
        margin: 0;
    }


}*/
