/*===================================================
             Bootstrap Media Queries
===================================================*/



/* Large Devices (Desktops & Laptops) */
@media(min-width: 1200px) and (max-width: 1299px) {


    .navbar-header {
        margin-left: 60px;

    }
    
   
}

/* Medium Devices (Landscape Tablets & Medium Desktops) */
@media(min-width: 992px) and (max-width: 1199px) {


    /* Navigation */
     
    .navbar-header{
         margin-left: 55px;
    }
    
    ul.navbar-nav {
        margin-left: 20px;
        padding: 0;
    }
    
    
    /* Home */
    #home .content-box {
        padding: 30px 0;
    }
    
    .home-content-left h1 {
        font-size: 45px;
    }
    .home-content-left h3 {
        font-size: 25px;
    }
    
    .home-content-left .btn-home {
         margin-top: 20px;
    }
    
    .home-content-right {
        padding-top: 40px;
        padding-left: 0x
    }
    
    .home-content-right img {
        margin: 0 auto;
        padding-top: 100px;
        width: 75%;
        height: auto;
    }
    
      /* About */
    .about-info h2 {
        margin: 0;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 500;

    }
    .about-info > p {
        font-size: 16px;
    }
    
    .certificate img {
        height: 110px;
        padding-right: 10px;
    }
    .owl-stage-outer {
        height: 100px;
    }

    


}

/* Small Devices (Portrait Tablets & Small Desktops) */
@media(min-width: 768px) and (max-width: 991px) {

  

}

/* Extra Small Devices (Landscape Phone & Portrait Tablets) */
@media(max-width: 767px) {

    


}

/* Extra Small Devices (Landscape Phone & Smaller Devices) */
@media(max-width: 480px) {

   

}

/* Extra Small Devices (Landscape Phone & Smaller Devices) */
@media(max-width: 320px) {

   

}










