/*=======================================
    Default Theme
    ------------------------------------
    Fonts: Poppins
    ------------------------------------
    
    Colors:
        Amaranth:       #E91E63
        Shark:          #1a1a1d
        Abbey:          #4e4e50
        Monarch:        #950740
        Seashell:       #f1f1f1
        White:          #fff
        Black:          #000

========================================*/

/* =====================================
     Generic CSS: Html. Body
========================================*/
html,
body {
    height: 100%;
}

body {
    color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6, 
small {
    font-family: "Poppins", sans-serif;
}
p {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
section {
    background: #1a1a1d;
    overflow: hidden;
}
.container {
    padding: 90px 20px;
    height: 100%;
}


.content-box {
    padding: 50px 0;
}

/* =====================================
            Preloader
========================================*/

#preloader {
    background-color: #1a1a1d;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
#status {
    background-image: url(../img/preloader/preloader.gif);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

/* =====================================
            Home
========================================*/

#home {
    padding: 0 50px;
    margin: 0 auto;
}

#home .content-box {
    padding: 40px 0;
}

/* Content Left*/
.home-content-left {
    margin-top: 160px;
}
.home-content-left h4 {
    margin: 0;
    font-size: 20px;
}
.home-content-left h1 {
    margin: 0;
    padding-top: 12px;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    color: #E91E63;
}
.home-content-left h3 {
    margin: 0;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.home-content-left .btn-home {
    margin-top: 40px;
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#home .btn {
    padding: 15px;
    width: 42%;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 15px;
}
.btn-resume {
    background: #E91E63;
    color: #fff;
    -webkit-transition:  all 400ms ease-in-out;
    transition:  all 400ms ease-in-out;
}

.btn-resume:hover{
    background: none;
    color: #E91E63;
    border: 2px solid #E91E63;
}

.btn-hire-me {
    background: none;
    color: #E91E63;
    border: 2px solid #E91E63;
     -webkit-transition:  all 400ms ease-in-out;
    transition:  all 400ms ease-in-out;
}

.btn-hire-me:hover {
    background: #E91E63;
    color: #fff;
}
/* Content Right */
.home-content-right {
    padding: 0;
}
.home-content-right img {
    margin: 0 auto;
    width: 470px;
    height: 470px;    
}

/* =====================================
            About
========================================*/

#about .content-box {
    margin: 0 auto;
    padding: 20;
}
#about .container {
    padding: 30px;
}

/* About-01 */
.about-01 .image-border {
    border: 2px solid #e91e63;
    padding: 15px;
    height: 575px;
    width: 455px;
}
.image-border img {
    width: 420px;
    height: 540px;
    margin: 0 auto;
    border: 2px solid #e91e63;
}

.about-info {
    padding: 0;
    margin: 0px;
}

.about-info h2 {
    margin: 0;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 520;
}

.about-info p {
    margin: 0;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
}
.about-certification h3 {
    text-align: center;
    margin: 0;
}
.about-certification-text p {
    text-align: center;
    font-size: 13px;
    line-height: 19px;
    padding: 5px 8px 15px;
}
.about-certification-text {
    padding: 10px;
}

.certificate img {
    height: 130px;
    padding-right: 10px;
}

/* owl-carousel */
.owl-stage-outer {
    height: 130px;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #1a1a1d;
    width: 20px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    color: #1a1a1d;
    background: #f1f1f1;
}

/* About- 02 */
#progress-elements h3 {
    margin: 0;
    padding: 50px 0 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}

/* Skills */
.skill {
    margin-bottom: 20px;
}
.skill h4 {
    line-height: 25px;
    margin: 10px 0;
    font-weight: normal;
}

/* Progress Bar*/
.progress {
    height: 25px;
    border-radius: 0;
    background: #f1f1f1;
    overflow: visible;
}
.progress-bar {
    background:  #E91E63;
    position: relative;
}
.progress-bar span {
    font-size: 13px;
    font-weight: 100;
    background-color:  #4e4e50;
    padding: 3px;
    position: absolute;
    left: 97%;
    top: -47px;
}
.progress-bar span:before {
    content: "";
    border-top: 8px solid #4e4e50;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 23%;
}

/* Work Experiences */
.about-03 .content-box {
    padding-top: 70px 0 50px;
}
.work-heading {
    padding-bottom: 20px;
}
.work-heading  h2 {
    text-transform: uppercase;
}

.timeline {
    list-style: none;
    position: relative;
    margin: 10px 30px;
    width: 65%;
    height: 100%;
    margin: 0 auto;
}
.timeline li {
    margin: 10px;
}
.timeline:before {
    content: ' ';
    background: #E91E63;
    display: inline-block;
    position: absolute;
    left: 2px;
    width: 5px;
    height: 100%;
    z-index: 1;

}

.timeline li:before {
    content: ' ';
    background: #E91E63;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: -16px;
    width: 40px;
    height: 40px;
    z-index: 1;
}
.timeline-panel {
    background: #4e4e50;
    margin: 25px 10px;
    padding: 15px 25px;
    position: relative;
}

.timeline-heading::before {
    content: '';
    background: #E91E63;
    position: absolute;
    width: 100px;
    height: 50px;
    z-index: 1;
    top: 15px;
    right: -10px;
}

.timeline-body p {
    padding-top: 10px;
    padding-bottom: 0;
    text-align: justify;

}

.timeline-heading h4 {
    font-size: 18px;
}

/* =====================================
            Porfolio
========================================*/

#portfolio .content-box {
    padding-top: 0;
    
}
.porfolio-headings {
    padding: 0 0 70px;
}

.porfolio-headings h2 {
    font-size: 40px;
    font-weight: 520;
    margin-top: 15px;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.porfolio-headings p {
    font-size: 20px;
    font-weight: 500;
}

.portfolio-card {
    position: relative;
    margin: 20px;
    cursor: pointer;
    -webkit-transition: 1s;
    transition: 1s;
}

.portfolio-card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.portfolio-content {
    position: relative;
    border-radius: 10px;
}

.portfolio-card-details {
    width: 100%;
    padding: 30px;
    background-color: #4e4e50;
}
.portfolio-card-details h3,
.portfolio-card-details p
{
    margin: 0;
    padding-bottom: 10px;
}

.details-technologies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    
}

.details-technologies span {
    font-size: 10px;
    background:  #E91E63;
    padding: 5px;
    margin-left: 5px;
    border-radius: 3px;
    
}
.details-icon a {
    color: #f1f1f1;
    margin-left: 10px;
    text-decoration: none;
}
.details-icon a:hover {
    color: #E91E63;
}

/* =====================================
            Contact
========================================*/
#contact .content-box {
    padding-top: 0;
}
.contact-heading h2 {
    margin: 0;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 520;
}

.form-content form {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}
.form-group input {
    height: 45px;
    background: #f1f1f1;
    width: 100%;
    margin:10px;
    -webkit-transition: 1s;
    transition: 1s;
}
.form-group textarea {
    height: 140px;
    background: #f1f1f1;
    width: 100%;
    margin:10px;
    -webkit-transition: 1s;
    transition: 1s;
}
.form-group textarea:focus, .form-group input:focus {
   background: none;
    border: 1px solid #E91E63;
    color: #f1f1f1;
}

.btn-submit {
    width: 100% ;
    margin: 0 0 10px 10px;
    background:  #E91E63;
    height: 45px;
    -webkit-transition: 1s;
    transition: 1s;
}
.btn-submit:hover {
    background: none;
    border: 1px solid #E91E63;
    color: #E91E63;
}

/* =====================================
            Footer
========================================*/
footer {
    overflow: hidden;
    background: #4e4e50;
/*
}
.footer-content {
     background: #4e4e50;
}
}
.footer-content h3 {
    text-transform: uppercase;
    padding: 20px 0;
}
.footer-content a {
    font-size: 18px;
    margin: 0 auto;
}
footer a > li {
    font-size: 5px;
    padding: 10px;
    border: 1px solid #f1f1f1;
    color: #f1f1f1;
    background: #E91E63;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    -webkit-transition: 1s;
    transition: 1s;
}
footer a > li:hover {
    -webkit-transform: translateY(-15px);
    transform: translateY(2px;)
}

footer hr {
    width: 75%;
    background: #f1f1f1;
}
.footer-content {
    position: absolute;
    z-index: 1;
    background: #4e4e50;
}

.btn-back-to-top {
    position: absolute;
    top: -50px;
    right: 10;
    z-index: 2;
}

.btn-back-to-top a > li {
    background: #f1f1f1;
    width: 60px;
    height: 60px;
    border-radius: 0;
    border: 2px solid #E91E63;
    padding: 10px;
    color: #E91E63;
    font-weight: 900;
    font-size: 35px;
}
*/












