/*=======================================
    Default Theme
    ------------------------------------
    Fonts: Poppins
    ------------------------------------
    
    Colors:
        Shiraz:         #c3073f
        Shark:          #1a1a1d
        Abbey:          #4e4e50
        Monarch:        #950740
        Seashell:       #f1f1f1
        White:          #fff
        Black:          #000

========================================*/

/* =====================================
     Generic CSS: Html. Body
========================================*/
html,
body {
    height: 100%;
}

body {
    color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}
p {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
section {
    background: #1a1a1d;
    overflow: hidden;
}

/* =====================================
            Preloader
========================================*/

#preloader {
    background-color: #1a1a1d;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
#status {
    background-image: url(../img/preloader/preloader.gif);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}