/*=======================================
    Default Theme
    ------------------------------------
    Fonts: Poppins
    ------------------------------------
    
    Colors:
        Shiraz:         #c3073f
        Shark:          #1a1a1d
        Abbey:          #4e4e50
        Monarch:        #950740
        Seashell:       #f1f1f1
        White:          #fff
        Black:          #000

========================================*/
